.GeneratedCode{

	flex-shrink: 0;

	.title{
		font-size: 1.4em;
	}

	.code{
		color:var(--text);
		font-size: 11px;
		white-space: pre;
		font-family: 'Courier New', Monaco;
		line-height: 1.4em;
	}

	.row{
		flex-shrink: 0;

		.label{
			min-width: 11em;
			word-break: break-all;
			flex-grow: 1;
			width: 0;

		}
		sp-dropdown{
			flex-grow: 2;
			width: 0;
		}
	}
}