.FilterComponent{
	display: flex;
	color: white;
	align-items: center;
}

.ExcludeInclude{
	display: flex;
	align-items: center;
	color:white;
	width: 100%;
}

.ExcludeInclude input{
	display:flex;
	width: 100%;
}