.DescriptorItem{
	border-top:1px solid gray;
	padding: 0.3em 1em;
	flex-shrink: 0;
}

.DescriptorItem:hover{
	color:aqua;
	cursor: pointer;
}

.DescriptorItem .name{
	overflow-wrap: anywhere;
}

.DescriptorItem.selected{
	color:lime;
	cursor: default;
}

.DescriptorItem .time{
	color:silver;
	font-style: italic;
	margin-left: 1em;
}