[panelid="inspector"]{
	display:flex;
	flex-direction: column;
}
*:hover{
	/*border: 1px dashed lime;*/
}

.Inspector{
	color:white;
	font-size: 10px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.Inspector .descriptorsColumns{
	display: flex;
	flex-grow: 1;
}

.Inspector > .TabList{
	flex-grow: 1;
}

.Inspector .code{
	white-space: pre;
	overflow: auto;
}

