.LeftColumn{
	display: flex;
	width:200px;
	flex-direction: column;
}

.LeftColumn .descriptorsWrapper{
	flex-grow: 1;
}

.LeftColumn .filter{
	display: flex;
	max-width: 200px;
}

.LeftColumn .add{
	display: inline-block;
	padding:0.3em 1em;
	margin:0.3em;
	border:1px solid white;
	cursor: pointer;
}

.LeftColumn .add:hover{
	color:aqua;
	border:1px solid aqua;
}

.LeftColumn .add.disallowed{
	pointer-events: none;
	border:1px solid black;
	color:black;
	cursor: not-allowed;
}