.TabList{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
}

.TabList .tabContent{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.TabList .tabRow{
	display: flex;
	border-bottom: 1px solid gray;
	flex-shrink: 0;
}

.TabList .tabHeader{
	flex-shrink: 0;
	padding:0.5em 0.5em;
}

.TabList .tabHeader:hover{
	color:aqua;
	cursor: pointer;
}

.TabList .tabHeader.active{
	color:lime;
	cursor: default;
}