.ATNDecoderContainer{
	color:var(--text);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100vw;
	height: 100vh;
	flex-shrink: 0;
	background: var(--bg);

	.info{
		overflow: auto;
		overflow-y: auto;
	}

	.tree{
		overflow: auto;
		min-width: 20em;
	}

	.atnData{
		display: flex;
		flex-grow: 1;
	}

	&.size-tiny{
		font-size: 10px;
	}
	&.size-small{
		font-size: 10.5px;
	}
	&.size-default{
		font-size: 11px;
	}
	&.size-bigger{
		font-size: 12px;
	}
	&.size-big{
		font-size: 13px;
	}
	&.size-youMustBeJoking{
		font-size: 24px;
	}
}