.Inspector{
	color:var(--text);
	font-size: 10px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100vw;
	height: 100vh;
	flex-shrink: 0;
	background: var(--bg);

	.code{
		color:var(--text);
		font-size: 11px;
		white-space: pre;
		font-family: 'Courier New', Monaco;
		line-height: 1.4em;
		padding: 1em;
	}
	
	
	.descriptorsColumns{
		display: flex;
		flex-grow: 1;
		position: relative;
	}
	
	.descriptorsColumns > .TabList{
		left: 200px;
		top: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}
	
	> .TabList{
		flex-grow: 1;
	}

	.tabsDescriptor{
		position: absolute;
		top:0;
		bottom: 0;
		right: 0;
		left: 0;

		> .tabContent{
			position: relative;

			.tabsView{
				position: absolute;
				top:0;
				right: 0;
				bottom: 0;
				left: 0;

				> .tabContent{
					display: flex;
					flex-direction: column;
					flex-grow: 1;
					overflow: scroll;
				}
			}
		}
	}


	
	.code, .rawCode{
		white-space: pre;
		//overflow: scroll;
		//border: 0px solid red;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	
	.info{
		.noShrink{
			flex-shrink: 0;
			display: flex;
			flex-grow: 1;
			flex-direction: column;


			.infoBlock{
				white-space: pre;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
			}
		}
	}
	
	.spread{
		flex-grow: 1;
	}
	
	.button{
		display: inline-block;
		padding:0.3em 0.5em;
		margin:0.3em;
		border:1px solid gray;
		cursor: pointer;
		border-radius: 3px;

		&:hover{
			color:var(--hover);
			border:1px solid var(--hover);
		}
		
		&.disallowed{
			pointer-events: none;
			border:1px solid black;
			color:black;
			cursor: not-allowed;
		}
	}
	
	.buttonIcon{
		display: flex;
		padding: 0.5em;
		margin:0;
		border:1px solid transparent;
		cursor: pointer;
		border-radius: 0;
		fill:var(--text);

		svg{
			width: 12px;
			height: 12px;
		}

		&:hover{
			color:var(--hover);
			background: var(--divider);
			border:1px solid var(--hover);
		}
		
		&.disallowed{
			pointer-events: none;
			border:1px solid black;
			color:black;
			cursor: not-allowed;
		}
	}

}

