body, html, .root, .panel{
	display: flex;
	width: 100vw;
	height: 100vh;
	padding:0;
	margin: 0;
}

a[href]{
	color:var(--text);
	text-decoration: underline;;
}

a:hover{
	color:var(--hover);
}

[panelid="inspector"]{
	display:flex;
	flex-direction: column;
}

*{box-sizing: border-box;}

code{
	font-family: 'Courier New', Monaco;
	background-color: var(--divider);
}

sp-checkbox{
	white-space: normal;
	height: auto;
}