body.darkest-theme .Inspector, body.darkest-theme .Listener{
	--bg: #353535;
	--bgList: #2B2B2B;
	--text:#E1E1E1;
	--textFade: #848484;
	--active: lime;
	--autoActive:yellow;
	--hover: aqua;
	--divider: #212121
}
body.dark-theme .Inspector, body.dark-theme .Listener{
	--bg: #545454;
	--bgList: #4D4D4D;
	--text:#F0F0F0;
	--textFade: #989898;
	--active: lime;
	--hover: aqua;
	--autoActive:yellow;
	--divider: #383838
}
body.light-theme .Inspector, body.light-theme .Listener{
	--bg: #B7B7B7;
	--bgList: #B0B0B0;
	--text:#303030;
	--textFade: #6E6E6E;
	--active: rgb(0, 145, 0);
	--hover: rgb(0, 92, 197);
	--autoActive:rgb(255, 136, 0);
	--divider: #949494
}
body.lightest-theme .Inspector, body.lightest-theme .Listener{
	--bg: #EFEFF0;
	--bgList: #E8E8E8;
	--text:#464646;
	--textFade: #909090;
	--active: rgb(0, 184, 0);
	--hover: rgb(0, 92, 197);
	--autoActive:rgb(255, 136, 0);;
	--divider: #CCCCCC;
}