body.darkest-theme .Inspector, body.darkest-theme .Listener{
	--bg: #353535;
	--bgList: #2B2B2B;
	--text:#E1E1E1;
	--textFade: #848484;
	--active: lime;
	--autoActive:yellow;
	--hover: aqua;
	--divider: #212121
}
body.dark-theme .Inspector, body.dark-theme .Listener{
	--bg: #545454;
	--bgList: #4D4D4D;
	--text:#F0F0F0;
	--textFade: #989898;
	--active: lime;
	--hover: aqua;
	--autoActive:yellow;
	--divider: #383838
}
body.light-theme .Inspector, body.light-theme .Listener{
	--bg: #B7B7B7;
	--bgList: #B0B0B0;
	--text:#303030;
	--textFade: #6E6E6E;
	--active: rgb(0, 145, 0);
	--hover: rgb(0, 92, 197);
	--autoActive:rgb(255, 136, 0);
	--divider: #949494
}
body.lightest-theme .Inspector, body.lightest-theme .Listener{
	--bg: #EFEFF0;
	--bgList: #E8E8E8;
	--text:#464646;
	--textFade: #909090;
	--active: rgb(0, 184, 0);
	--hover: rgb(0, 92, 197);
	--autoActive:rgb(255, 136, 0);;
	--divider: #CCCCCC;
}


.JSONDiff {
	--TEXT_COLOR: #e8e8e8;
	--TEXT_PLACEHOLDER_COLOR: #e8e8e8;
	--BACKGROUND_COLOR: #181818;
	--SELECTED_BACKGROUND_COLOR: #585858;
	--SKIPPED_BACKGROUND_COLOR: #585858;
	--HEADER_BACKGROUND_COLOR: #585858;
	--HEADER_BORDER_COLOR: #585858;
	--BORDER_COLOR: #585858;
	--LIST_BORDER_COLOR: #585858;
	--ACTION_TIME_BACK_COLOR: #585858;
	--ACTION_TIME_COLOR: #b8b8b8;
	--PIN_COLOR: #b8b8b8;
	--ITEM_HINT_COLOR: #a16946;
	--TAB_BACK_SELECTED_COLOR: #585858;
	--TAB_BACK_COLOR: #181818;
	--TAB_BACK_HOVER_COLOR: #585858;
	--TAB_BORDER_COLOR: #585858;
	--DIFF_ADD_COLOR: #65AD00;
	--DIFF_REMOVE_COLOR: red;
	--DIFF_ARROW_COLOR: #EC31C0;
	--LINK_COLOR: #EC31C0;
	--LINK_HOVER_COLOR: #EC31C0;
	--ERROR_COLOR: #65AD00;
}