.LeftColumn{
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-grow: 1;

	.descriptorsWrapper{
		flex-grow: 1;
		overflow:auto;
		height: 0;
		display: flex;
		flex-direction: column;
		background: var(--bgList);
		border-top: 1px solid var(--divider);
		border-bottom: 1px solid var(--divider);
		flex-grow: 1;
		flex-shrink: 0;
		min-height: 0;
	}

	.add{
		flex-grow: 2;
		justify-content: center;
		border-left: none;
	}

	.listenerSwitch,
	.autoInspectorSwitch{
		justify-content: center;
		flex-grow: 1;
	}
	
	.search {
		background-color: var(--sp-textfield-bg);
		display: flex;
		position: relative;
		max-width: 100%;
		flex-grow: 0;

		sp-textfield{
			flex-grow: 1;
			margin: 0;
			width: 0;
			//width: 100%;
			appearance: none;
			color: var(--text);

			&:hover{
				color: var(--hover);
			}
		}

		sp-checkbox{
			padding:0 0.3em;
			margin:0;
			flex-grow: 0;
			align-self: center;
		}
	}
	
	.oneMore {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		height: 0;
	}
	
	.descriptorButtons{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-end;

		.button{
			display: inline-block;
		}
	}
}

.MarketplaceAdvice{

	background: transparent;;

	.dontShowLabel{
		color: var(--text);
		margin-right: auto;

		input{
			margin-left:0;
		}
	}

	p{
		margin-left: 0;
		margin-right: 0;
	}
}