.actionList{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 0;
	overflow: auto;
}

.code{
	color:white;
	font-size: 11px;
	white-space: pre;
	font-family: 'Courier New', Monaco;
	margin: 1em;
}
.replies{
	margin-left: 2em;
	background: rgba(0,0,0,0.2);
}

.replies .header{
	color:#ddd;
	font-size: 1.3em;
}

.action{
	padding: 0;
	border-bottom: 1px solid gray;
	line-height: 1.5;
	flex-shrink: 0;
}

.action .header{
	display: flex;
	align-items: center;
}

.action .header .sameGroupBadge{
	background-color: royalblue;
	border-radius: 50%;
	color:white;
	padding: 0.2em 0.7em;
}

.action .header .collapse{
	margin-right:1em;
	display: flex;
	flex-grow: 1;
}
.action .header .title{
	margin:0 1em
}

.empty{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	
}

.empty .message{
	color:white;
	font-size: 11px;
}

.panel {
	overflow: auto;
	max-width: 100vw;
	max-height: 100vh;
	margin: 4px;
}

.component {
	min-width: 300px;
	margin: 1em 4px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.spread{
	display: flex;
	flex-grow: 1;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.between {
	justify-content: space-between;
}

.around {
	justify-content: space-around;
}

.start {
	justify-content: space-between;
}

.end {
	justify-content: flex-end;
}

.center {
	justify-content: center;
}

.controls{
	flex-wrap: wrap;
}
.controls > div > *{
	margin: 0 0.5em;
}

body, html, .root, .panel{
	display: flex;
	width: 100vw;
	height: 100vh;
	padding:0;
	margin: 0;
}