.Settings{

	width: 0;
	min-width: 100%;
	padding: 1em;
	position: relative;

	.fontSizeLabel{
		margin-right: 1em;
	}
	.fontSizeDropdown{
		min-width: 20em;
	}
	.neverRecordActionNamesArea{
		height:7em;
		margin:0.5em 0;
	}

	h3{
		margin-left: 0;
	}

	.row{
		flex-shrink: 0;

		.label{
			min-width: 11em;
			word-break: break-all;
			flex-grow: 1;
			width: 0;
			flex-shrink: 0;

		}
		sp-dropdown{
			flex-grow: 2;
			width: 0;
		}
	}

	.scope{
		font-style: italic;
		margin-bottom: 1em;
	}

	h3{
		font-size: 1.2em;
		line-height: 1.2em;
		margin-left: 0;
		margin-bottom: 0.1em;
		margin-top: 1em;
		flex-shrink: 0;
	}

	.title{
		font-size: 1.4em;
		flex-shrink: 0;
		padding-bottom: 1em;
	}

	.fullW{
		width: 0;
		min-width: 100%;
	}
}