.SnippetContainerContainer{
	flex-direction: column;
	flex-grow: 1;
	display: flex;

	.codeWrap{
		flex-grow : 1;
		flex-direction : column;
		display : flex;
	}

	.snippetCode{
		height: auto;
		display: flex;
		width : 100%;
		flex-grow: 1;
	}
}

